services:
  zimfarm-db:
    image: postgres:17.3-bookworm
    container_name: zimarm-postgresdb
    ports:
      - 127.0.0.1:2345:5432
    volumes:
      - zimfarm_data:/var/lib/postgresql/data
      - ./postgres-initdb:/docker-entrypoint-initdb.d
    environment:
      - POSTGRES_DB=zimfarm
      - POSTGRES_USER=zimfarm
      - POSTGRES_PASSWORD=zimpass
    healthcheck:
      test: ["CMD", "pg_isready", "-q", "-d", "dbname=zimfarm user=zimfarm"]
      interval: 10s
      timeout: 5s
      retries: 3
  zimfarm-api:
    image: ghcr.io/openzim/zimfarm-backend:latest
    container_name: zimfarm-api
    ports:
      - 127.0.0.1:8004:80
    environment:
      BINDING_HOST: 0.0.0.0
      JWT_SECRET: DH8kSxcflUVfNRdkEiJJCn2dOOKI3qfw
      POSTGRES_URI: postgresql+psycopg://zimfarm:zimpass@zimfarm-db:5432/zimfarm
      INIT_USERNAME: admin
      INIT_PASSWORD: admin
      ZIMIT_USE_RELAXED_SCHEMA: true
      ALLOWED_ORIGINS: http://localhost:8003
      # upload artifacts, logs and zim to receiver for simplicity
      ARTIFACTS_UPLOAD_URI: sftp://uploader@zimfarm-receiver:22/logs/ # reusing logs dir, kind of a hack
      LOGS_UPLOAD_URI: sftp://uploader@zimfarm-receiver:22/logs/
      ZIM_UPLOAD_URI: sftp://uploader@zimfarm-receiver:22/zim/
      ZIMCHECK_OPTION: --all
    depends_on:
      zimfarm-db:
        condition: service_healthy
    command:
      - uvicorn
      - zimfarm_backend.main:app
      - --host
      - "0.0.0.0"
      - --port
      - "80"
      - --proxy-headers
      - --forwarded-allow-ips
      - "*"
  zimfarm-ui:
    image: ghcr.io/openzim/zimfarm-ui:latest
    container_name: zimfarm-ui
    ports:
      - 127.0.0.1:8003:80
    volumes:
      - ./zimfarm_ui_dev/config.json:/usr/share/nginx/html/config.json:ro
    depends_on:
      zimfarm-api:
        condition: service_healthy
  zimfarm-worker-manager:
    image: ghcr.io/openzim/zimfarm-worker-manager:latest
    container_name: zimfarm-worker-manager
    depends_on:
      zimfarm-api:
        condition: service_healthy
    command: worker-manager --webapi-uri 'http://zimfarm-api:80/v2' --username test_worker --name test_worker
    environment:
      - DEBUG=true
      - TASK_WORKER_IMAGE=ghcr.io/openzim/zimfarm-task-worker:latest
      - ENVIRONMENT=development
      - ZIMFARM_DISK=4Gb
      - ZIMFARM_MEMORY=2Gb
      - ZIMFARM_CPU=1
      - POLL_INTERVAL=10
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./id_ed25519:/etc/ssh/keys/zimfarm
    profiles:
      - worker
  zimfarm-receiver:
    image: ghcr.io/openzim/zimfarm-receiver:latest
    container_name: zimfarm-receiver
    ports:
      - 127.0.0.1:8222:22
    volumes:
      - ./create-warehouse-paths.sh:/contrib/create-warehouse-paths.sh
    environment:
      - ZIMFARM_WEBAPI=http://zimfarm-api:80/v2
    depends_on:
      zimfarm-api:
        condition: service_healthy
    profiles:
      - worker
  zimit-api:
    container_name: zimit-api
    build:
      dockerfile: Dockerfile-api
      context: ..
    volumes:
      - ../api/src/zimitfrontend:/usr/local/lib/python3.12/site-packages/zimitfrontend
      - ../locales:/locales
    command:
      - uvicorn
      - zimitfrontend.entrypoint:app
      - --host
      - "0.0.0.0"
      - --port
      - "80"
      - --proxy-headers
      - --forwarded-allow-ips
      - "*"
      - --reload
      - --reload-dir
      - /usr/local/lib/python3.12/site-packages/zimitfrontend
    ports:
      - 127.0.0.1:8002:80
    environment:
      INTERNAL_ZIMFARM_WEBAPI: http://zimfarm-api:80/v2
      _ZIMFARM_USERNAME: admin
      _ZIMFARM_PASSWORD: admin
      TASK_WORKER: test_worker
      HOOK_TOKEN: a_very_secret_token
      CALLBACK_BASE_URL: http://zimit-api:80/api/v1/requests/hook
      DIGEST_KEY: d1a2df7f0a229cc6
      ZIMIT_IMAGE: openzim/zimit:3.0.5
      ZIMIT_DEFINITION_VERSION: dev
    depends_on:
      - zimfarm-api
  zimit-ui-dev:
    container_name: zimit-ui-dev
    build:
      dockerfile: dev/zimit_ui_dev/Dockerfile
      context: ..
    volumes:
      - ../ui/src:/app/src
      - ../locales:/locales
      - ../dev/zimit_ui_dev/config.json:/app/public/config.json
    ports:
      - 127.0.0.1:8001:80
    depends_on:
      - zimit-api
  zimit-ui-prod:
    container_name: zimit-ui-prod
    build:
      dockerfile: Dockerfile-ui
      context: ..
    ports:
      - 127.0.0.1:8000:80
    depends_on:
      - zimit-api

volumes:
  zimfarm_data:
