body {
    background-color: #fafafa;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(102, 102, 102);
}

/*
    green: #82ca2a;
    green-b: #54821c;
    grey: #231F20;
    btn-grey: #303030;
*/

.btn-grey {
    color: white;
    background-color: #231F20;
}
.btn-grey:hover {
    color: white;
    background-color: #303030;
}

.btn-link-grey {
    color: #231F20;
}

a {
  color: #82ca2a;
}

a:hover {
  color: #54821c;
}


.btn-green {
    color: white;
    background-color: #82ca2a;
}
.btn-green:hover {
    color: white;
    background-color: #54821c;
}
